<div>
    <br><br><br><br><br>
    <div class="container bg-light set" style="margin: auto;">
        <div class="row">
            <div class=" d-none d-md-block col-sm-6 col-md-6 col-lg-6 col-xl-6 " (deferLoad)="forgotImage.show = true">
                <img [src]="forgotImage.url">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                <br><br>
                <div class="row">
                    <div class="alert alert-info rounded-pill" role="alert">
                        <p>Please check your registered email for your recovery key.</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text" [(ngModel)]="recovery" class="form-control rounded-pill shadow"
                            placeholder="enter recovery key" required autofocus>
                    </div>
                    <br><br>
                    <div class="col-12">
                        <input type="password" [(ngModel)]="newPassword" class=" form-control rounded-pill shadow"
                            placeholder="enter new password " required>
                    </div>
                    <br><br>
                    <div class="col-12">
                        <input type="password" [(ngModel)]="reEnterNewPassword"
                            class=" form-control rounded-pill shadow" placeholder="re-enter new password " required>
                    </div>
                    <br><br> <br>
                    <div class="col-xl-12">
                        <div class="pretty p-icon p-round p-pulse">
                            <input type="checkbox" [(ngModel)]='checked' />
                            <div class="state p-info">
                                <i class="icon mdi mdi-check"></i>
                                <label>Set if you are admin</label>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="col-xl-12 text-center">
                    <button type="button" (click)="submit()"
                        class=" btn btn-outline-success animate"><b>Submit</b></button>
                </div>
                <br>

                <div class="col-12 text-center">
                    <button type="button" style="margin: auto;" class="btn btn-link dec animate"
                        [routerLink]="['/login']"><b>Back
                            to Login</b>
                        <fa-icon [icon]="faSignInAlt"></fa-icon>
                    </button>
                </div>
                <br><br>
            </div>
        </div>

    </div>
    <br><br><br><br><br>
</div>